.container{
    background-color: rgba(132, 156, 172, 0.507);
    margin-top:30px;
}

.titulo{
    font-size: 30px;
    padding-top: 35px;
}

.container h3{
    font-size: 22px;
}

.containerCards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    box-sizing: border-box;
    width: 400px;
    height: 250px;
    background: white;
    border: 1px solid white;
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.logo{
    width:  300px;
}