.NavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.473);
    z-index: 1000;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    align-items: center;
}

.NavBar h3{
    margin-right: 500px;   
}

.NavBar a{
    color: #213547;
}

.lista {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    margin-left: 15px;
}

.item h4 {
    margin: 0;
}

.lista li {
    font-size: 18px;
    color: #213547;
}

.lista li a {
    color: #213547;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .lista li:nth-child(n+1) {
      display: none; /* Oculta los elementos a partir del segundo */
    }
  }