.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lista {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    margin-left: 10px;
}

.item h4 {
    margin: 0;
}

.lista li {
    font-size: 20px;
    color: black;
}

.lista li a {
    color: black;
}