.Presentacion {
    display: flex;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}

.Contenido {
    flex: 1;
    margin-right: 20px;
}

.Contenido h1,
p {
    text-align: left;
}

.ImagenPerfil {
    width: 350px;
    height: 300px;
    border-radius: 50%;
}

.Redes {
    display: flex;
    margin-top: 25px;
}

.ListaRedes {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.ListaRedes li {
    margin-right: 10px;
    list-style: none;
    color: #213547;
}

.ListaRedes a {
    color: #213547;
}

/* Sobre Mi */
.SobreMi {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgba(132, 156, 172, 0.507);
    padding: 2px;
    text-align: left;
}

.SobreMi h2 {
    font-size: 30px;
    margin-left: 40px;
}

.SobreMi p {
    margin-right: 210px;
    margin-left: 40px;
}

/* Responsive */
@media only screen and (max-width: 1000px) {
    .Presentacion {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }

    .ImagenPerfil {
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }

    .Contenido {
        margin: 0 auto;
    }

    .Contenido h1,
    .Contenido p {
        text-align: center;
        margin: 0 auto;
        max-width: 500px;
    }

    .Contenido h1{
        margin-top: 10px;
        font-size: 40px;
    }

    .Redes {
        justify-content: space-around;
    }

    .SobreMi h2 {
        text-align: center;
    }

    .SobreMi p {
        margin: 0 auto;
        text-align: center;
        padding: 8px;
        max-width: 400px;
    }
}