.footer{
    color: white;
    background-color: black;
    padding: 5px;
}

.redes{
    align-items: center;
}

.redes img{
    margin-top: 10px;
    padding: 5px;
    width:  35px;
}

.footer p{
    text-align: center;
    margin: 0; 
    margin-bottom: 5px;
}