.footer{
    color: white;
    background-color: black;
}

.redes{
    align-items: center;
}

.redes img{
    padding: 10px;
    width:  45px;
}

.footer p{
    text-align: center;
    padding: 8px;
    margin: 0; 
}