.skillContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.titulo{
    font-size: 30px;
}

.card {
    margin: 10px;
    box-sizing: border-box;
    width: 230px;
    height: 240px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

@media only screen and (max-width: 600px) {
    .skillContainer {
      flex-direction: column;
      align-items: center; /* Para centrar verticalmente */
    }
  
    .card {
      /* width: calc(5
0% - 50px);  */
      margin: 10px 0; /* Espacio entre las tarjetas */
    }
  }